@page
@model IST440WGroup4.Pages.Dashboard.IndexModel
@{
}

<br />
<h2> Dashboard </h2>
<table>
    <thead>
        <tr>
            <th>Medical Record Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>MEWS Score</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
        
        @foreach (var patient in Model.listPatients)
        {
            if (patient.respiratoryRPM <= 9)
            {
                patient.mewsScore += 2;
            }
            else if (patient.respiratoryRPM <= 14 && patient.respiratoryRPM > 9)
            {
                patient.mewsScore += 0;
            }
            else if (patient.respiratoryRPM > 14 && patient.respiratoryRPM <= 20)
            {
                patient.mewsScore += 1;
            }
            else if (patient.respiratoryRPM > 20 && patient.respiratoryRPM <= 29)
            {
                patient.mewsScore += 2;
            }
            else if (patient.respiratoryRPM > 29)
            {
                patient.mewsScore += 3;
            }
            if (patient.heartRate <= 40)
            {
                patient.mewsScore += 2;
            }
            else if (patient.heartRate > 40 && patient.heartRate < 50)
            {
                patient.mewsScore += 1;
            }
            else if (patient.heartRate >= 50 && patient.heartRate < 100)
            {
                patient.mewsScore += 0;
            }
            else if (patient.heartRate >= 100 && patient.heartRate < 110)
            {
                patient.mewsScore += 1;
            }
            else if (patient.heartRate >= 110 && patient.heartRate < 130)
            {
                patient.mewsScore += 2;
            }
            else if (patient.heartRate >= 130)
            {
                patient.mewsScore += 3;
            }
            if (patient.systolicBP <= 70)
            {
                patient.mewsScore += 3;
            }
            else if (patient.systolicBP > 70 && patient.systolicBP <= 80)
            {
                patient.mewsScore += 2;
            }
            else if (patient.systolicBP > 80 && patient.systolicBP <= 100)
            {
                patient.mewsScore += 2;
            }
            else if (patient.systolicBP < 100 && patient.systolicBP < 200)
            {
                patient.mewsScore += 0;
            }
            else if (patient.systolicBP >= 200)
            {
                patient.mewsScore += 2;
            }
            if (patient.apvuScore == "ALERT")
            {
                patient.mewsScore += 0;
            }
            else if (patient.apvuScore == "PAIN")
            {
                patient.mewsScore += 2;
            }
            else if (patient.apvuScore == "VOICE")
            {
                patient.mewsScore += 1;
            }
            else if (patient.apvuScore == "UNRESPONSIVE")
            {
                patient.mewsScore += 3;
            }
            else if (patient.apvuScore == "AGITATED")
            {
                patient.mewsScore += 1;
            }
            if (patient.temperature == 35)
            {
                patient.mewsScore += 0;
            }
            if (patient.mewsScore <= 1)
            {
                patient.status = "Normal";
            }
            else if (patient.mewsScore > 1 && patient.mewsScore <= 4)
            {
                patient.status = "Cautious";
            }
            else if (patient.mewsScore > 4)
            {
                patient.status = "Urgent";
            }
             
            <tr>
                
                <td>@patient.medicalRecordNumber</td>
                <td>@patient.firstName</td>
                <td>@patient.lastName</td>
                <td>@patient.mewsScore</td>
                <td>
                    @if (@patient.status == "Normal")
                    {
                        <span style="color:green"> Normal</span>

                    }
                    else if (@patient.status == "Cautious")
                    {
                        <span style="color: gold"> Cautious</span>
                    }
                    else if (@patient.status == "Urgent")
                    {
                        <span style="color: red"> Urgent</span>
                    }
                </td>

            </tr>
        }

    </tbody>
    </table>